<?xml version="1.0"?>
<robot name ="sra_integrated" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- WORLD -->

  <link name="world"/>
  <joint name="ArmWorldJoint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="ArmDummyLink"/>
  </joint>

  <!-- ROBOT -->

  <xacro:include filename="sra.urdf"/>

  <!-- ROBOT JOINT TRANSMISSIONS -->

  <transmission name="BaseJoint_Transmitter">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="BaseJoint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="BaseJoint_Motor">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="ShoulderJoint_Transmitter">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ShoulderJoint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="ShoulderJoint_Motor">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="ElbowJoint_Transmitter">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ElbowJoint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="ElbowJoint_Motor">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="WristJoint">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="WristJoint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="WristJoint_Motor">
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- ROS CONTROL LIBRARY -->

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sra_integrated</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>
</robot>
