<?xml version="1.0"?>
<robot name ="srr_integrated" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="srr.urdf"/>
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/srr</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>
</robot>
