# ignore build, devel, and install directories
build/
devel/
install/
*.autosave.xopp
*.xopp~
src/srr_sim/urdf/sra_integrated.urdf
src/srr_sim/urdf/srr_integrated.urdf
src/srr_sim/urdf/combined_integrated.urdf

# ignore unnecessary pdflatex output
src/srr/latex/**/*.aux
src/srr/latex/**/*.log
src/srr/latex/**/*.synctex.gz
src/srr/latex/**/*-blx.bib
src/srr/latex/**/*.bbl
src/srr/latex/**/*.bcf
src/srr/latex/**/*.blg
src/srr/latex/**/*.run.xml
src/srr/latex/**/*.toc
