<launch>
  <arg name="combined_model_name" value="combined_integrated" />
  <arg name="init_vehicle_pose" />
  <arg name="init_arm_pose" />
  <include file="$(find srr_sim)/launch/srr.launch" >
    <arg name="init_vehicle_pose" value="$(arg init_vehicle_pose)" />
    <arg name="do_vehicle_psm" value="0" />
  </include>
  <include file="$(find srr_sim)/launch/sra.launch" >
    <arg name="init_arm_pose" value="$(arg init_arm_pose)" />
    <arg name="mounted_to_world" value="0" />
    <arg name="do_arm_psm" value="0" />
  </include>

  <rosparam subst_value="True">
    /combined_model_name: $(arg combined_model_name)
    /$(arg combined_model_name)/arm_mount_elevation: 0.034544
    /$(arg combined_model_name)/arm_base_height_off_vehicle: 0.0381
    /$(arg combined_model_name)/arm_base_min_height_off_ground: 0.05
    /$(arg combined_model_name)/vehicle_front_distance_from_pick: 0.25
  </rosparam>

  <node
    name="calculate_combined_kin_server"
    pkg="srr_kinematics"
    type="calculate_combined_kin_server" />
  <node
    name="combined_program_state_machine"
    pkg="srr_program"
    type="psm_combined" />
</launch>
