<launch>
  <arg name="mounted_to_world" default="1" />
  <arg name="arm_model_name" value="$(eval 'sra_integrated' if mounted_to_world else 'sra')" />
  <arg name="init_arm_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
  <arg name="arm_controllers" value="arm_joint_state_controller
                                     base_joint_controller
                                     shoulder_joint_controller
                                     elbow_joint_controller
                                     wrist_joint_controller" />
  <rosparam file="$(find srr_sim)/config/arm_controllers.yaml" command="load"/>
  <rosparam subst_value="True">
    /sra_model_name: $(arg arm_model_name)
    /$(arg arm_model_name)/init_pose: $(arg init_arm_pose)
    /$(arg arm_model_name)/joint_zero_offsets: BaseJoint=0,ShoulderJoint=0,ElbowJoint=0,WristJoint=0,LFingerJoint=0,RFingerJoint=0
    /$(arg arm_model_name)/joint_directions_of_rotation: BaseJoint=+1,ShoulderJoint=+1,ElbowJoint=+1,WristJoint=+1,LFingerJoint=+1,RFingerJoint=+1
    /$(arg arm_model_name)/dh_param/d1: 0.073660
    /$(arg arm_model_name)/dh_param/d2: 0.196342
    /$(arg arm_model_name)/dh_param/a2: 0.044704
    /$(arg arm_model_name)/dh_param/d3: 0.226822
    /$(arg arm_model_name)/dh_param/d4: 0.025400
    /$(arg arm_model_name)/dh_param/d5: 0.035814
  </rosparam>

  <node
    name="arm_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="/$(arg arm_model_name)"
    args="$(arg arm_controllers)" />
  <node
    name="arm_joint_offsets_server"
    pkg="srr_kinematics"
    type="incorporate_joints_offsets_server"
    args="$(arg arm_model_name)"
    output="screen" />
  <node
    name="calculate_arm_kin_server"
    pkg="srr_kinematics"
    type="calculate_arm_kin_server" />
</launch>
