<launch>
  <arg name="world" default="basic" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name="world_name" value="$(find srr_sim)/world/$(arg world).world" />
		<arg name="paused" value="false" />
		<arg name="verbose" value="true" />
	</include>

  <arg name="integrated_model_name" value="sra_integrated" />
  <arg name="init_arm_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
  <param name="robot_description" textfile="$(find srr_sim)/urdf/$(arg integrated_model_name).urdf" />
  <rosparam subst_value="True">
    /srr_model_name: $(arg integrated_model_name)
    /$(arg integrated_model_name)/init_pose: $(arg init_arm_pose)
    /$(arg integrated_model_name)/joint_zero_offsets: BaseJoint=0,ShoulderJoint=0,ElbowJoint=0,WristJoint=0,GripperJoint=0
    /$(arg integrated_model_name)/joint_rotations_of_direction: BaseJoint=+1,ShoulderJoint=+1,ElbowJoint=+1,WristJoint=+1,GripperJoint=+1
  </rosparam>

  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
    <param name="use_gui" value="false" />
  </node>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false"
    output="screen" />
  <node
    name="map_frame_broadcaster"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 1 map dummy_link 50" />
  <node
    name="world_frame_broadcaster"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world base_link 50" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="$(arg init_arm_pose) -param robot_description -urdf -model $(arg integrated_model_name)"
    output="screen" />
  <node
    name="vehicle_joint_offsets_server"
    pkg="srr_kinematics"
    type="incorporate_joints_offsets_server"
    args="$(arg integrated_model_name)"
    output="screen" />
</launch>
